<div id="app">
  <div id="groups" cdkDropList (cdkDropListDropped)="drop($event)">
    <div
      *ngFor="let group of groups | async"
      class="group"
      cdkDrag
      (click)="groupIconClicked(group)"
    >
      <img
        class="group-icon"
        [src]="group.icon"
        [matTooltip]="group.name"
        [ngClass]="group === selectedGroup.value && 'selected-group'"
        matTooltipPosition="right"
      />
    </div>
  </div>
  <app-group
    *ngIf="selectedGroup | async"
    [selectedGroup]="selectedGroup"
  ></app-group>
</div>
