<div id="content">
  <nav>
    <a id="company-name">
      <img id="logo" src="assets/logo.svg" />
      <span>Swap</span>
    </a>
    <a>
      Download
    </a>
    <a>
      Why Swap?
    </a>
    <a>
      Jobs
    </a>
    <a>
      Developers
    </a>
    <a>
      Community
    </a>
    <a>
      Support
    </a>
    <a>
      Login
    </a>
    <a>
      Sign Up
    </a>
  </nav>
  <div id="info">
    <h1 class="product-desc">
      Virtual workspace for the right audience.
    </h1>
    <h4 class="product-desc small">
      Chat, share, and call for free.
    </h4>
    <div id="buttons">
      <button mat-flat-button color="primary">
        <span class="button-label">
          Sign Up
        </span>
      </button>
      <button mat-flat-button color="primary" (click)="login()">
        <span
          *ngIf="userService.getCurrentUser(); else showLogin"
          class="button-label"
        >
          Go to Swap
        </span>
        <ng-template #showLogin>
          <span class="button-label">
            Login
          </span>
        </ng-template>
      </button>
    </div>
  </div>
</div>
