<div id="group-background">
  <div id="group-container">
    <div id="group-section">
      <div id="group-header">
        <span id="group-name">{{
          (selectedGroup | async)?.name
        }}</span>
        <button mat-icon-button>
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
    </div>
    <div id="group-chats">
      <h2 id="group-chats-header">Chats</h2>
      <mat-selection-list [multiple]="false">
        <mat-list-option
          *ngFor="let chat of groupChats | async"
          (click)="chatClicked(chat)"
        >
          <span class="chat-name"># {{ chat.name }}</span>
        </mat-list-option>
      </mat-selection-list>
    </div>
  </div>
  <app-user-profile></app-user-profile>
</div>
<app-chat
  *ngIf="selectedChat | async"
  [selectedChat]="selectedChat"
></app-chat>
