$sand: #F3C98B

:host
    width: 100%
    display: flex
    flex-direction: row

#group-background
    background-color: $sand
    width: 260px
    height: 100vh
    display: flex
    flex-direction: column

#group-container
    display: flex
    flex-direction: column
    padding: 10px 26px 0 26px

#group-section
    display: flex
    justify-content: space-between
    align-items: flex-end
    width: 100%

#group-header
    display: flex
    align-items: center

#group-name
    font-family: Lato
    font-style: normal
    font-weight: bold
    font-size: 20px
    line-height: 24px

#group-chats-header
    font-family: Lato
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 14px
    text-transform: uppercase
    margin-bottom: 0

#group-chats
    margin-top: 30px
    display: flex
    flex-direction: column

.chat-name
    font-family: Lato
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 17px
    padding: 1px
